# ─── CONFIGURAÇÕES - JIRA ORIGEM ─────────────────────────────────────────────
SRC_BASE_URL="https://ti-segurosunimed-soa.atlassian.net"
SRC_EMAIL="seu_email_origem"
SRC_API_TOKEN="seu_token_origem"
SRC_ACCOUNT_ID="" # deixe vazio

# ─── CONFIGURAÇÕES - JIRA DESTINO ────────────────────────────────────────────
DST_BASE_URL="https://jira-uxorit.atlassian.net"
DST_EMAIL="seu_email_destino"
DST_API_TOKEN="seu_token_destino"
DST_ACCOUNT_ID="" # deixe vazio
# ─────────────────────────────────────────────────────────────────────────────